@charset "UTF-8";

* {
    padding: 0;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
}
a,ul {
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 8vh;
    position: fixed;
    z-index: 2;
    width: 100%;
}

nav>a{
    padding: 2rem 3rem;
    font-size: 2rem;
    position: relative;
    color: white;
    font-variant: small-caps;
    font-weight: normal;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 8vh;
}


nav ul li a{
    
    padding: 2rem 3rem;
    font-size: 1.8rem;
    position: relative;
    color: white;
    font-variant: small-caps;
    font-weight: normal;
    
}
nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: rgb(23, 187, 23);
    transition: all 500ms ease-in-out;
}
nav ul li a:hover::after{
    width: 50%;
    left: 25%;
}
.letras-nav {
    display: none;
}
.mobile-menu {
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 3.2rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.8rem;
}
main {
    width: 100%;
}

.section{
    height: 100vh;
    
    justify-content: center;
    max-width: 160rem;
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    
    align-items: center;
    max-width: 130rem;
    position: relative;
    
    
}

.musica1{
    
    background-image: url(../images/dravg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
.musica2{
    
    background-image: url(../images/liu.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.musica3{
    background-image: url(../images/nlmd.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.musica4{
    background-image: url(../images/old-friend.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.musica5{
    background-image: url(../images/yna.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.video{
    background-color: black;
    max-width: 50rem;
    min-width: 32rem;
    max-height: 31.5rem;
    
    margin-top: 10rem;
    width: 100%;
    height: auto;
    
    
}
.letra{
    background-color: rgb(105, 103, 103);
    overflow-y: scroll;
    width: 100%;
    max-width: 40rem;
    min-width: 32rem;
    max-height: 31.5rem;
    margin-top: 10rem;
    color: white;
    font-weight: bold;
    
}
.letra h2{
    font-size: 2rem;
    align-items: center;
    padding: 0.5rem;
}
.letra p{
    line-height: 2.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
}
.links{
    max-height: 10rem; 
    z-index: 2;
    margin-top: 3.5rem;
    width: 60%;
}

.links a img{
    border-radius: 20%;
}




a img{
    max-width: 10rem;
    max-height: 10rem;
    width: 50rem;
    height: 5rem;
}


